.scene-fade-top
{
	position: fixed; 
	top: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
